---
layout: default
---

<!-- Page Header -->
{% include intro-header.html type='page' %}

<!-- Main Content -->
<div class="container">
	<div class="row">
        {% if site.sidebar == false %}
<!-- NO SIDEBAR -->
    <!-- PostList Container -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
                {{ content }}
            </div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                      
                <!-- Search -->
                {% if site.search %}
                <section>
                    <!-- no hr -->
                    <h5><a href="/search/">Search</a></h5>
                    <div class="search">
                        {% if site.custom-search %}
                        <!-- 自定义搜索 -->
                            <form class="search-form" action="/search/">
                                <input type="search" name="q" class="search-input" placeholder="{{ site.search-placeholder }}">
                            </form>
                        {% else %}
                        <!-- 直接跳转搜索引擎 -->
                            {% if site.search-engine == 'google' %}
                                <form id="search-form" target="_blank" method="get" class="search-form" action="https://www.google.com/search">
                                    <input type="search" name="q" class="search-input" placeholder="{{ site.search-placeholder }}">
                                    <input type="hidden" name="sitesearch" value="{{ site.url }}">
                                    <script>
                                    if(navigator.userAgent.match(/(iPod|iPhone|iPad)/i)) {
                                        /* fix iOS 系统禁止新窗口提交表单 */
                                        document.getElementById('search-form').removeAttribute('target');
                                    }
                                    </script>
                                </form>
                            {% else %}
                                <form id="search-form" target="_blank" method="get" class="search-form" action="https://www.baidu.com/baidu">
                                    <input type="search" name="word" class="search-input" placeholder="{{ site.search-placeholder }}">
                                    <input type="hidden" name="si" value="{{ site.url }}">
                                    <input type="hidden" name="tn" value="bds">
                                    <input type="hidden" name="cl" value="3">
                                    <input type="hidden" name="ct" value="2097152">
                                    <script>
                                        var siInput = document.getElementsByName('si')[0];
                                        var searchInput = document.getElementsByName('word')[0];
                                        var searchForm = document.getElementById('search-form');
                                         siInput.value = siInput.value.replace('http://','');
                                         searchForm.addEventListener('submit',function(e){
                                            if(navigator.userAgent.match(/(iPod|iPhone|iPad)/i)) {
                                                /* fix iOS 系统禁止新窗口提交表单 */
                                                 searchForm.removeAttribute('target');
                                            }
                                            searchInput.value += ' '+siInput.value;
                                             setTimeout(function(){
                                                searchInput.value = searchInput.value.replace(' '+siInput.value, '');
                                            },1)
                                        }, false)
                                    </script>
                                </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </section>
                {% endif %}

                <!-- Featured Tags -->
                {% include featured-tags.html %}

                <!-- Friends Blog -->
                {% include friends.html %}
            </div>
        {% else %}

<!-- USE SIDEBAR -->
    <!-- PostList Container -->
    		<div class="
                col-lg-8 col-lg-offset-1
                col-md-8 col-md-offset-1
                col-sm-12
                col-xs-12
                postlist-container
            ">
    			{{ content }}
    		</div>
    <!-- Sidebar Container -->
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">

                            <!-- Search -->
                            {% if site.search %}
                            <section>
                                <!-- no hr -->
                                <h5><a href="/search/">Search</a></h5>
                                <div class="search">
                                    {% if site.custom-search %}
                                    <!-- 自定义搜索 -->
                                        <form class="search-form" action="/search/">
                                            <input type="search" name="q" class="search-input" placeholder="{{ site.search-placeholder }}">
                                        </form>
                                    {% else %}
                                    <!-- 直接跳转搜索引擎 -->
                                        {% if site.search-engine == 'google' %}
                                            <form id="search-form" target="_blank" method="get" class="search-form" action="https://www.google.com/search">
                                                <input type="search" name="q" class="search-input" placeholder="{{ site.search-placeholder }}">
                                                <input type="hidden" name="sitesearch" value="{{ site.url }}">
                                                <script>
                                                if(navigator.userAgent.match(/(iPod|iPhone|iPad)/i)) {
                                                    /* fix iOS 系统禁止新窗口提交表单 */
                                                    document.getElementById('search-form').removeAttribute('target');
                                                }
                                                </script>
                                            </form>
                                        {% else %}
                                            <form id="search-form" target="_blank" method="get" class="search-form" action="https://www.baidu.com/baidu">
                                                <input type="search" name="word" class="search-input" placeholder="{{ site.search-placeholder }}">
                                                <input type="hidden" name="si" value="{{ site.url }}">
                                                <input type="hidden" name="tn" value="bds">
                                                <input type="hidden" name="cl" value="3">
                                                <input type="hidden" name="ct" value="2097152">
                                                <script>
                                                    var siInput = document.getElementsByName('si')[0];
                                                    var searchInput = document.getElementsByName('word')[0];
                                                    var searchForm = document.getElementById('search-form');
                                                     siInput.value = siInput.value.replace('http://','');
                                                     searchForm.addEventListener('submit',function(e){
                                                        if(navigator.userAgent.match(/(iPod|iPhone|iPad)/i)) {
                                                            /* fix iOS 系统禁止新窗口提交表单 */
                                                            searchForm.removeAttribute('target');
                                                        }
                                                        searchInput.value += ' '+siInput.value;
                                                        setTimeout(function(){
                                                            searchInput.value = searchInput.value.replace(' '+siInput.value, '');
                                                        },1)
                                                    }, false)
                                                </script>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </section>
                            {% endif %}

                            
                <!-- Featured Tags -->
                {% include featured-tags.html %}

                <!-- Short About -->
                {% include short-about.html %}

                <!-- Friends Blog -->
                {% include friends.html %}
    		</div>
        {% endif %}
	</div>
</div>

{% if site.page-mathjax %}
<!-- Add support for Mathjax by Voleking-->
<!-- If you want to see formulars well in post preview, Maybe you should add this.-->
<!-- However, most of the time formulars may not appear in the post preview, you can delete it.-->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [ ['$','$'] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true,
    }
  });
</script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endif %}